@import '../../../../../styles.scss';
@import '../shared-step-styles.scss';

.checkbox-group {
  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    input[type="checkbox"] {
      width: auto;
      cursor: pointer;
    }
  }
}
